In [34]:
import pandas as pd
df = pd.read_csv("car_evaluation.csv", header = None)
df

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

In [38]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df[0] = le.fit_transform(df[0])
df[1] = le.fit_transform(df[1])
df[2] = le.fit_transform(df[2])
df[3] = le.fit_transform(df[3])
df[4] = le.fit_transform(df[4])
df[5] = le.fit_transform(df[5])
df[6] = le.fit_transform(df[6])

In [40]:
# 결측치 확인
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [41]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [43]:
X=df.drop(6,axis=1)
X.head()

   0  1  2  3  4  5
0  3  3  0  0  2  1
1  3  3  0  0  2  2
2  3  3  0  0  2  0
3  3  3  0  0  1  1
4  3  3  0  0  1  2

In [44]:
y=df[6]
y.value_counts()

6
2    1210
0     384
1      69
3      65
Name: count, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25,random_state=0)

In [46]:
from sklearn.svm import SVC

clf_svm = SVC(kernel='rbf', random_state=0) 
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print("\n--- SVM Classifier ---")
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.9212962962962963
[[ 82   1  15   1]
 [  7  11   0   3]
 [  2   0 294   0]
 [  5   0   0  11]]

In [47]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression(max_iter=500, random_state=0)
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.6550925925925926
[[ 11   0  84   4]
 [  1   0  20   0]
 [ 24   0 269   3]
 [  4   0   9   3]]

In [48]:
from sklearn.neural_network import MLPClassifier
clf_nn = MLPClassifier(random_state=0)
clf_nn.fit(X_train, y_train)

pred_nn = clf_nn.predict(X_test)

print ("\n--- Neural Network Classifier ---")
print (accuracy_score(y_test, pred_nn))
print (confusion_matrix(y_test, pred_nn))

--- Neural Network Classifier ---
0.9351851851851852
[[ 92   0   6   1]
 [  7  13   0   1]
 [  8   1 287   0]
 [  4   0   0  12]]

In [49]:
from sklearn.tree import DecisionTreeClassifier
clf_dt = DecisionTreeClassifier(max_depth=10, min_samples_split=5, random_state=0)
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.9652777777777778
[[ 91   5   2   1]
 [  1  19   0   1]
 [  4   0 292   0]
 [  1   0   0  15]]

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

print ("\n--- Radom Forest ---")
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
print(accuracy_score(y_test,pred))
print (confusion_matrix(y_test, pred))

--- Radom Forest ---
0.9745370370370371
[[ 95   3   1   0]
 [  2  19   0   0]
 [  3   0 293   0]
 [  2   0   0  14]]