In [2]:
#로컬 파일로 데이터 로딩
import pandas as pd
df = pd.read_csv("iris.csv", index_col=0)
df

             SepalWidth  PetalLength  PetalWidth            Name
SepalLength
5.1                 3.5          1.4         0.2     Iris-setosa
4.9                 3.0          1.4         0.2     Iris-setosa
4.7                 3.2          1.3         0.2     Iris-setosa
4.6                 3.1          1.5         0.2     Iris-setosa
5.0                 3.6          1.4         0.2     Iris-setosa
...                 ...          ...         ...             ...
6.7                 3.0          5.2         2.3  Iris-virginica
6.3                 2.5          5.0         1.9  Iris-virginica
6.5                 3.0          5.2         2.0  Iris-virginica
6.2                 3.4          5.4         2.3  Iris-virginica
5.9                 3.0          5.1         1.8  Iris-virginica

[150 rows x 4 columns]

In [3]:
# 결측치 확인
df.isnull().sum()

SepalWidth     0
PetalLength    0
PetalWidth     0
Name           0
dtype: int64

In [4]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

SepalWidth     0
PetalLength    0
PetalWidth     0
Name           0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Name'] = le.fit_transform(df['Name'])

In [6]:
df

             SepalWidth  PetalLength  PetalWidth  Name
SepalLength
5.1                 3.5          1.4         0.2     0
4.9                 3.0          1.4         0.2     0
4.7                 3.2          1.3         0.2     0
4.6                 3.1          1.5         0.2     0
5.0                 3.6          1.4         0.2     0
...                 ...          ...         ...   ...
6.7                 3.0          5.2         2.3     2
6.3                 2.5          5.0         1.9     2
6.5                 3.0          5.2         2.0     2
6.2                 3.4          5.4         2.3     2
5.9                 3.0          5.1         1.8     2

[150 rows x 4 columns]

In [7]:
X=df.drop('Name',axis=1)
X.head()

             SepalWidth  PetalLength  PetalWidth
SepalLength
5.1                 3.5          1.4         0.2
4.9                 3.0          1.4         0.2
4.7                 3.2          1.3         0.2
4.6                 3.1          1.5         0.2
5.0                 3.6          1.4         0.2

In [8]:
y=df['Name']
y.value_counts()

Name
0    50
1    50
2    50
Name: count, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25,random_state=0)

In [10]:
from sklearn.svm import SVC

clf_svm = SVC(random_state=0)
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print("\n--- SVM Classifier ---")
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]

In [11]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression(random_state=0)
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]

In [12]:
from sklearn.neural_network import MLPClassifier
clf_nn = MLPClassifier(random_state=0)
clf_nn.fit(X_train, y_train)

pred_nn = clf_nn.predict(X_test)

print ("\n--- Neural Network Classifier ---")
print (accuracy_score(y_test, pred_nn))
print (confusion_matrix(y_test, pred_nn))

--- Neural Network Classifier ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [13]:
from sklearn.tree import DecisionTreeClassifier
clf_dt = DecisionTreeClassifier(random_state=0)
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

print ("\n--- Radom Forest ---")
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
print(accuracy_score(y_test,pred))
print (confusion_matrix(y_test, pred))

--- Radom Forest ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]